a {
  text-decoration: none;
  /* margin: 20px; */
  margin: 50px;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  color: black;
}
.movie {
  display: grid;
  grid-template-columns: 145px 1fr;
  align-items: center;

  height: 300px;

  position: relative;
  

  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 3px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.movie:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.movie img {
  width: 125px;
  position: absolute;
  top: -20px;
  left: 10px;
}

.movie .movie__data {
  display: flex;
  flex-direction: column;
  
}

.movie__year {
  color: rgba(0, 0, 0, 0.5);
}

.movie__genres {
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.5);
}

.movie__summary {
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.5);
}
